<mat-toolbar color="accent" class="header">
  <span style="padding-left: 0.3rem">BlaBla</span>
  <span class="example-spacer"></span>
  <button color="accent" mat-raised-button matBadge="{{cart_length}}" matBadgePosition="before" matBadgeColor="warn">
    cart
  </button>
  <button style="margin-left: 5px;" color="accent" mat-raised-button><mat-icon>person</mat-icon>User
  </button>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    [mode]="isBiggerScreen() ? 'over' : 'side'"
    [(opened)]="opened"
    [fixedInViewport]="true"
    [fixedTopGap]
  >
    <div class="side-list">
      <div>Category 1</div>
      <div>Category 2</div>
      <div>Category 3</div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <div style="height: 350px;"></div>
  </mat-sidenav-content>
</mat-sidenav-container>
